<Ui>

	<Frame name="TellMeWhen_CLEUOptions" inherits="TellMeWhen_OptionsModuleContainer" virtual="true">
		<Size y="250"/>
		<Frames>
		
			<Frame name="$parentCLEUEvents" inherits="TMW_DropDownMenuTemplate" parentKey="CLEUEvents">
				<Anchors>
					<Anchor point="TOPLEFT" x="5" y="-5"/>
					<Anchor point="RIGHT" x="-5" />
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)
				
						self:SetTexts(TMW.L["CLEU_EVENTS"], TMW.L["CLEU_EVENTS_DESC"])
						self:SetFunction(TMW.Types.cleu.CONFIG.EventMenu)

						self.SHOW_TIME = 0.5

						self.Button:HookScript("OnClick", function(self)
							TMW.IE:SaveSettings()
						end)
					</OnLoad>
				</Scripts>
			</Frame>
			
			<EditBox name="$parentCLEUDur" parentKey="CLEUDur" inherits="TellMeWhen_TimeEditBoxTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentCLEUEvents" relativePoint="BOTTOMLEFT" y="-7"/>
				</Anchors>
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="text2" wordwrap="true" justifyH="LEFT" inherits="GameFontHighlightSmall">
							<Anchors>
								<Anchor point="LEFT" relativePoint="RIGHT" x="5"/>
								<Anchor point="RIGHT" relativeto="TellMeWhen_CLEUOptions" x="-5"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnLoad>
						self.text2:SetText(TMW.L["CLEU_TIMER"])
						self.text2:SetWidth(self:GetParent().CLEUEvents:GetWidth() - self:GetWidth() - 35)
						self.setting = "CLEUDur"
						
						TMW:CInit(self)

						self:SetTexts(TMW.L["CLEU_TIMER"], TMW.L["CLEU_TIMER_DESC"])
						self:SetSetting("CLEUDur")
					</OnLoad>
				</Scripts>
			</EditBox>

			<CheckButton name="$parentCLEUNoRefresh" inherits="TellMeWhen_CheckTemplate" parentKey="CLEUNoRefresh">
				<Anchors>
					<Anchor point="LEFT" relativeTo="$parentCLEUDur" relativePoint="RIGHT" x="2" y="-1"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self:SetFrameLevel(self:GetFrameLevel() + 2) -- sometimes it ends up under the type dropdown which makes half of the checkbox unclickable
					
						TMW:CInit(self)

						self:SetTexts(TMW.L["ICONMENU_CLEU_NOREFRESH"], TMW.L["ICONMENU_CLEU_NOREFRESH_DESC"])
						self:SetSetting("CLEUNoRefresh")
					</OnLoad>
				</Scripts>
			</CheckButton>
			
			<EditBox name="$parentSourceUnit" inherits="TellMeWhen_UnitEditBox" parentKey="SourceUnit">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parentCLEUDur" relativePoint="BOTTOMLEFT" x="0" y="-10"/>
					<Anchor point="RIGHT" x="-125"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetSetting("SourceUnit")
						self:SetTexts(TMW.L["CLEU_SOURCEUNITS"], function()
							if IsModifierKeyDown() then
								return TMW.UNITS:GetUnitInputDetailedTooltip(self)
							else
								return TMW.L["CLEU_SOURCEUNITS_DESC"]
							end
						end)
						
						self:CScriptAdd("ModifySettingValueRequested", function(self, value)
							return TMW:CleanString(value)
						end)

						TMW.SUG:EnableEditBox(self, "units")
						self:RegisterEvent("MODIFIER_STATE_CHANGED")
					</OnLoad>
					<OnEvent>
						TMW:TT_Update(self)
					</OnEvent>
					<OnSizeChanged>
						local parent = self:GetParent()
						if parent.AdjustHeight then
							parent:AdjustHeight()
						end
					</OnSizeChanged>
				</Scripts>
			</EditBox>
			<Frame name="$parentSourceFlags" inherits="TMW_DropDownMenuTemplate" parentKey="SourceFlags">
				<Anchors>
					<Anchor point="LEFT" relativeTo="$parentSourceUnit" relativePoint="RIGHT" x="3" />
					<Anchor point="RIGHT" x="-5" />
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)
				
						self:SetTexts(TMW.L["CLEU_FLAGS_SOURCE"], TMW.L["CLEU_FLAGS_DESC"])
						self:SetFunction(TMW.Types.cleu.CONFIG.FlagsMenu)

						self.SHOW_TIME = 0.5

						self.flagSet = "SourceFlags" -- the setting name, basically
						self.Button:HookScript("OnClick", function(self)
							TMW.IE:SaveSettings()
						end)
					</OnLoad>
				</Scripts>
			</Frame>

			<EditBox name="$parentDestUnit" inherits="TellMeWhen_UnitEditBox" parentKey="DestUnit">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parentSourceUnit" relativePoint="BOTTOM" y="-10"/>
					<Anchor point="LEFT" relativeTo="$parentSourceUnit"/>
					<Anchor point="RIGHT" relativeTo="$parentSourceUnit"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetSetting("DestUnit")
						self:SetTexts(TMW.L["CLEU_DESTUNITS"], function()
							if IsModifierKeyDown() then
								return TMW.UNITS:GetUnitInputDetailedTooltip(self)
							else
								return TMW.L["CLEU_DESTUNITS_DESC"]
							end
						end)
						
						self:CScriptAdd("ModifySettingValueRequested", function(self, value)
							return TMW:CleanString(value)
						end)

						TMW.SUG:EnableEditBox(self, "units")
						self:RegisterEvent("MODIFIER_STATE_CHANGED")
					</OnLoad>
					<OnEvent>
						TMW:TT_Update(self)
					</OnEvent>
					<OnSizeChanged>
						local parent = self:GetParent()
						if parent.AdjustHeight then
							parent:AdjustHeight()
						end
					</OnSizeChanged>
				</Scripts>
			</EditBox>
			<Frame name="$parentDestFlags" inherits="TMW_DropDownMenuTemplate" parentKey="DestFlags">
				<Anchors>
					<Anchor point="LEFT" relativeTo="$parentDestUnit" relativePoint="RIGHT" x="3" />
					<Anchor point="RIGHT" x="-5" />
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)
				
						self:SetTexts(TMW.L["CLEU_FLAGS_DEST"], TMW.L["CLEU_FLAGS_DESC"])
						self:SetFunction(TMW.Types.cleu.CONFIG.FlagsMenu)

						self.SHOW_TIME = 0.5 --TODO: make a method for this.

						self.flagSet = "DestFlags" -- the setting name, basically
						self.Button:HookScript("OnClick", function(self)
							TMW.IE:SaveSettings()
						end)
					</OnLoad>
				</Scripts>
			</Frame>

		</Frames>
		<Scripts>
			<OnLoad>
				self.Header:SetText(TMW.L["CONFIGPANEL_CLEU_HEADER"])
				
				TMW.IE:DistributeFrameAnchorsLaterally(self, 2, self.CLEUDur, self.CLEUNoRefresh)
				self.CLEUDur:SetPoint("LEFT", 8, 0)
				
				self.CLEUNoRefresh:ConstrainLabel(self, "RIGHT")

				self.CLEUDur.text2:SetPoint("RIGHT", self.CLEUNoRefresh, "LEFT")
				self.CLEUDur.text2:SetHeight(30)
			</OnLoad>
		</Scripts>
	</Frame>
	
</Ui>