<Ui>

	<Frame name="TellMeWhen_DurationRequirements" inherits="TellMeWhen_OptionsModuleContainer" virtual="true">
		<Size y="40"/>
		<Frames>

			<Frame parentKey="DurationMin" inherits="TellMeWhen_TimeEditBoxWithCheckTemplate">
				<Size x="67" y="33"/>
				<Anchors>
					<Anchor point="TOPLEFT" x="5" y="-5"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetSettings("DurationMinEnabled", "DurationMin")
						self:SetTexts(MINIMUM, TMW.L["ICONMENU_DURATION_MIN_DESC"])
					</OnLoad>
				</Scripts>
			</Frame>

			<Frame parentKey="DurationMax" inherits="TellMeWhen_TimeEditBoxWithCheckTemplate">
				<Size x="67" y="33"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.DurationMin" relativePoint="RIGHT" x="4"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetSettings("DurationMaxEnabled", "DurationMax")
						self:SetTexts(MAXIMUM, TMW.L["ICONMENU_DURATION_MAX_DESC"])
					</OnLoad>
				</Scripts>
			</Frame>
			
			<Slider parentKey="DurationAlpha" name="$parentDurationAlpha" inherits="TellMeWhen_SliderTemplate_Alpha" valuestep="1">
				<Size y="17"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.DurationMax" relativePoint="RIGHT" x="15" />
					<Anchor point="RIGHT" x="-10" />
					<Anchor point="TOP" y="-13" />
				</Anchors>
				<Scripts>
					<OnLoad>
						self.text:SetWidth(self:GetWidth())
						
						TMW:CInit(self)

						self:SetTexts(TMW.L["REQFAILED_ALPHA"], TMW.L["DURATIONALPHA_DESC"])
						self:SetSetting("DurationAlpha")

						self:CScriptAdd("ReloadRequested", function()
							local settings = self:GetSettingTable()
							self:SetEnabled(settings.DurationMinEnabled or settings.DurationMaxEnabled)
						end)

						self:SetOrangeValue(1)
					</OnLoad>
				</Scripts>
			</Slider>
		</Frames>
		<Scripts>
			<OnLoad>
				TMW:CInit(self)
				
				self:SetTitle(TMW.L["DURATIONPANEL_TITLE2"])
			</OnLoad>
		</Scripts>
	</Frame>
 
</Ui>