<Ui>

	<Frame name="TellMeWhen_ConditionRequirements" inherits="TellMeWhen_OptionsModuleContainer" virtual="true">
		<Size y="40"/>
		<Frames>
			<Slider parentKey="ConditionAlpha" name="$parentConditionAlpha" inherits="TellMeWhen_SliderTemplate_Alpha" valuestep="1">
				<Size y="17"/>
				<Anchors>
					<Anchor point="LEFT" x="10" />
					<Anchor point="RIGHT" x="-10" />
					<Anchor point="TOP" y="-13" />
				</Anchors>
				<Scripts>
					<OnLoad>
						self.text:SetWidth(self:GetWidth())
						
						TMW.IE:RegisterRapidSetting("ConditionAlpha")

						TMW:CInit(self)

						self:SetTexts(TMW.L["REQFAILED_ALPHA"], TMW.L["CONDITIONALPHA_METAICON_DESC"])
						self:SetSetting("ConditionAlpha")

						self:SetOrangeValue(1)
					</OnLoad>
				</Scripts>
			</Slider>
		</Frames>
		<Scripts>
			<OnLoad>
				TMW:CInit(self)
				
				self:SetTitle(TMW.L["CONDITIONALPHA_METAICON"])
			</OnLoad>
		</Scripts>
	</Frame>
 
</Ui>