<Ui>

	<Button name="TellMeWhen_TypeCheckRuneTemplate" virtual="true">
		<Size x="27.5" y="27.5"/>

		<KeyValues>
			<KeyValue key="tmwClass" type="string" value="Config_Button_Rune"/>
		</KeyValues>

		<Layers>
			<Layer level="OVERLAY">
				<Texture name="$parentCheck" parentKey="Check" file="">
					<Size x="24" y="24"/>
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<Texture parentKey="texture" file="Interface\PlayerFrame\UI-PlayerFrame-Deathknight-Blood">
					<Size x="28" y="28"/>
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				self:SetChecked(not self:GetChecked())
			</OnClick>
			<OnLoad>
				TMW:CInit(self)

				self:SetSetting("RuneSlots")
			</OnLoad>
		</Scripts>
	</Button>
	<Frame name="TellMeWhen_Runes" inherits="TellMeWhen_OptionsModuleContainer" virtual="true">
		<Size y="70"/>
		<Frames>
			<Button parentKey="1" inherits="TellMeWhen_TypeCheckRuneTemplate" id="1">
				<Anchors>
					<Anchor point="TOPLEFT" x="7" y="-6"/>
				</Anchors>
			</Button>
			<Button parentKey="2" inherits="TellMeWhen_TypeCheckRuneTemplate" id="2">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.1" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="3" inherits="TellMeWhen_TypeCheckRuneTemplate" id="3">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.2" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="4" inherits="TellMeWhen_TypeCheckRuneTemplate" id="4">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.3" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="5" inherits="TellMeWhen_TypeCheckRuneTemplate" id="5">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.4" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="6" inherits="TellMeWhen_TypeCheckRuneTemplate" id="6">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.5" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			
			<Button parentKey="7" inherits="TellMeWhen_TypeCheckRuneTemplate" id="7">
				<Anchors>
					<Anchor point="LEFT" x="7"/>
					<Anchor point="TOP" relativeKey="$parent.1" relativePoint="BOTTOM" y="-4"/>
				</Anchors>
			</Button>
			<Button parentKey="8" inherits="TellMeWhen_TypeCheckRuneTemplate" id="8">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.7" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="9" inherits="TellMeWhen_TypeCheckRuneTemplate" id="9">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.8" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="10" inherits="TellMeWhen_TypeCheckRuneTemplate" id="10">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.9" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="11" inherits="TellMeWhen_TypeCheckRuneTemplate" id="11">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.10" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
			<Button parentKey="12" inherits="TellMeWhen_TypeCheckRuneTemplate" id="12">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.11" relativePoint="RIGHT"/>
				</Anchors>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad>
				TMW:CInit(self)
				
				self:SetTitle(TMW.L["RUNES"])
				TMW.IE:DistributeFrameAnchorsLaterally(self, 6,
					self["1"],
					self["2"],
					self["3"],
					self["4"],
					self["5"],
					self["6"]
				)
				
				TMW.IE:DistributeFrameAnchorsLaterally(self, 6,
					self["7"],
					self["8"],
					self["9"],
					self["10"],
					self["11"],
					self["12"]
				)
				
			</OnLoad>
		</Scripts>
	</Frame>
 
</Ui>