<Ui>

	<Frame name="TellMeWhen_BackdropOptions" inherits="TellMeWhen_OptionsModuleContainer" virtual="true">
		<Size y="36"/>
		<Frames>

			<Button parentKey="Color" inherits="TellMeWhen_ColorButtonTemplate">
				<Anchors>
					<Anchor point="LEFT" x="10" />
					<Anchor point="TOP" y="-8" />
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetTexts(TMW.L["ICONMENU_BAR_COLOR_BACKDROP"], TMW.L["ICONMENU_BAR_COLOR_BACKDROP_DESC"])
						self:SetSetting("BackdropColor")
						self:SetHasOpacity(true)
					</OnLoad>
				</Scripts>
			</Button>

		</Frames>
		<Scripts>
			<OnLoad>
				self.Header:SetText(TMW.L["CONFIGPANEL_BACKDROP_HEADER"])
			</OnLoad>
		</Scripts>
	</Frame>



 
</Ui>