<Ui>
	
	<Frame name="TellMeWhen_AutoshootSwingTimerTip" inherits="TellMeWhen_OptionsModuleContainer" virtual="true">
		<Size y="50"/>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Text" wordwrap="true" inherits="GameFontHighlightSmall">
					<Anchors>
						<Anchor point="TOP" y="-10"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<Button parentKey="ApplySettings" inherits="TellMeWhen_ButtonTemplate">
				<Size y="15"/>
				<Anchors>
					<Anchor point="BOTTOM" y="8"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self:SetFrameLevel(self:GetParent():GetFrameLevel() + 4)
					</OnLoad>
					<OnClick>
						local ics = TMW.CI.ics
						
						ics.Type = "cooldown"
						ics.Name = self:GetParent().spellIdToApply or 75
						ics.BarDisplay_BarGCD = true
						ics.ClockGCD = true
						
						TMW.IE:LoadIcon(1)
					</OnClick>
				</Scripts>
			</Button>

		</Frames>

		<Scripts>
			<OnLoad>
				TMW:CInit(self)
				
				self:CScriptAdd("PanelSetup", function(self, panel, panelInfo)
					local settings = self:GetSettingTable()
					local supplementalData = panelInfo.supplementalData
					local spellID = supplementalData.spellID
					local name = GetSpellInfo(spellID)
					local descriptiveName = supplementalData.descriptiveName or name
					self.spellIdToApply = spellID

					self:SetTitle(descriptiveName)
					self.Text:SetText(TMW.L["ICONTYPE_SWINGTIMER_TIP"]:format(
						descriptiveName, TMW.L["ICONMENU_SPELLCOOLDOWN"], TMW.L["ICONMENU_SPELLCOOLDOWN"], name, spellID
					))
					self.ApplySettings:SetText(TMW.L["ICONTYPE_SWINGTIMER_TIP_APPLYSETTINGS"]:format(
						descriptiveName
					))
					self.ApplySettings:SetWidth(self.ApplySettings:GetTextWidth() + 15)

					self.Text:SetWidth(self:GetWidth() - 15)
					self:SetHeight(self.Text:GetStringHeight() + 43)
				end)
				
			</OnLoad>
			<OnSizeChanged>
				self:SetHeight(self.Text:GetStringHeight() + 43)
			</OnSizeChanged>
		</Scripts>
	</Frame>
	
</Ui>