<Ui>

	<Button name="TellMeWhen_ConditionEditorRuneCheckTemplate" virtual="true">
		<Size x="33" y="29"/>
		<Layers>
			<Layer level="OVERLAY">
				<Texture name="$parentCheck" parentKey="Check" file="">
					<Size x="27" y="27"/>
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<Texture parentKey="texture">
					<Size x="26" y="26"/>
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				PlaySound("igMainMenuOptionCheckBoxOn")

				local CndtGroup = self:GetParent():GetParent()
				local conditionSettings = CndtGroup:GetConditionSettings()
				local index = self.key

				TMW.CNDT:ToggleBitFlag(conditionSettings, index)

				self:SetChecked(not self:GetChecked())

				CndtGroup:LoadAndDraw()
			</OnClick>
			<OnLoad>
				self.GetChecked = TMW.CNDT.Rune_GetChecked
				self.SetChecked = TMW.CNDT.Rune_SetChecked

				if self.death then
					self.texture:SetTexture("Interface\\AddOns\\TellMeWhen\\Textures\\" .. self.runeType)
				else
					self.texture:SetTexture("Interface\\PlayerFrame\\UI-PlayerFrame-Deathknight-" .. self.runeType)
				end

				local title = _G["COMBAT_TEXT_RUNE_" .. (self.runeType):upper()]
				if self.death then
					title = COMBAT_TEXT_RUNE_DEATH .. " (" .. title .. ")"
				end

				TMW:TT(self, title, "CONDITIONPANEL_RUNES_CHECK_DESC", true, false)

			</OnLoad>
		</Scripts>
	</Button>
	<CheckButton name="TellMeWhen_ConditionEditorParenthesisTemplate" hidden="true" virtual="true">
		<KeyValues>
			<KeyValue key="tmwClass" type="string" value="Config_Conditions_Paren"/>
		</KeyValues>

		<Size x="20" y="20"/>
		<HitRectInsets>
			<AbsInset left="4" right="4" top="0" bottom="0"/>
		</HitRectInsets>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentText" parentKey="text" justifyH="LEFT" inherits="GameFontHighlight">
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad>
				TMW:CInit(self)
			</OnLoad>
		</Scripts>
	</CheckButton>
	
	
	<Frame name="TellMeWhen_ConditionGroup" inherits="TellMeWhen_FlatFrame" virtual="true">
		<Size x="563" y="69"/>
		<Anchors>
			<Anchor point="TOPLEFT"/>
		</Anchors>
		<Frames>
			<Frame parentKey="Type" inherits="TMW_DropDownMenuTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" x="26" y="-15"/>
				</Anchors>
				<Frames>
					<EditBox parentKey="EditBox" inherits="TellMeWhen_InputBoxTemplate">
						<Anchors>
							<Anchor point="TOPLEFT" x="4" y="-3"/>
							<Anchor point="RIGHT" relativeKey="$parent.Button" relativePoint="LEFT" x="1" />
							<Anchor point="BOTTOM" x="0" y="3"/>
						</Anchors>
						<FontString inherits="GameFontHighlightSmall" wordwrap="false" justifyH="LEFT" justifyV="CENTER">
							<Size y="10"/>
						</FontString>
						<Scripts>
							<OnLoad>
								local CndtGroup = self:GetParent():GetParent()
								self.label = TMW.L["CONDITIONPANEL_DEFAULT"],

								self:HookScript("OnEditFocusLost", function(self)
									CndtGroup:LoadAndDraw()
								end)

								self:HookScript("OnEditFocusGained", function(self)
									TMW.DD:CloseDropDownMenus()
								end)

								self:GetParent().Button:HookScript("OnClick", function()
									self:ClearFocus()
								end)

								TMW.SUG:EnableEditBox(self, "conditions", true, nil)
								
								self.background:Hide()
								self.borderTop:Hide()
								self.borderBottom:Hide()
								self.borderLeft:Hide()
								self.borderRight:Hide()
							</OnLoad>
						</Scripts>
					</EditBox>
				</Frames>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetFunction(TMW.CNDT.TypeMenu_DropDown)

						self:SetScrollable(true)
						self:SetWidth(176)
					</OnLoad>
				</Scripts>
			</Frame>
			<Frame parentKey="Icon" inherits="TMW_IconDropDownMenuTemplate" hidden="true">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Type" relativePoint="RIGHT" x="6"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetTexts(TMW.L["CHOOSEICON"], nil)
						self:SetFunction(TMW.CNDT.IconMenu_DropDown)

						-- Width is set in the TMW_CNDT_GROUP_DRAWGROUP handler for this frame.
					</OnLoad>
				</Scripts>
			</Frame>
			<EditBox inherits="TellMeWhen_InputBoxTemplate" parentKey="Unit" autoFocus="false">
				<Size x="120" y="18"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Type" relativePoint="RIGHT" x="10" y="0"/>
				</Anchors>
				
				<Scripts>
					<OnEditFocusLost>
						EditBox_ClearHighlight(self)
						TMW:CleanString(self)
						
						local CndtGroup = self:GetParent()
						local unit = strtrim(self:GetText()) or "player"

						CndtGroup:GetConditionSettings().Unit = unit
						CndtGroup:LoadAndDraw()

						local unitTable = TMW.UNITS:GetOriginalUnitTable(unit)
						if #unitTable > 1 then
							TMW.HELP:Show{
								code = "CNDT_UNIT_ONLYONE",
								icon = TMW.CI.icon,
								relativeTo = self,
								x = 0,
								y = 0,
								text = format(TMW.L["HELP_ONLYONEUNIT"], #unitTable)
							}
						end
						
						if self:GetText() == "" then
							TMW.HELP:Show{
								code = "CNDT_UNIT_MISSING",
								icon = TMW.CI.icon,
								relativeTo = self,
								x = 0,
								y = 0,
								text = format(TMW.L["HELP_NOUNIT"])
							}
						end
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
			<Frame parentKey="Operator" inherits="TMW_DropDownMenuTemplate">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Unit" relativePoint="RIGHT" x="6" y="0"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetFunction(TMW.CNDT.OperatorMenu_DropDown)

						self.Text:SetFontObject(GameFontHighlightLarge)
						self:SetWidth(66)
					</OnLoad>
				</Scripts>
			</Frame>
			
			<Slider parentKey="Slider" inherits="TellMeWhen_SliderTemplate" hidden="true">
				<Size x="522" y="17"/>
				<Anchors>
					<Anchor point="TOPRIGHT" x="-13" y="-39"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self.__noWrapTooltipText = true

						TMW:CInit(self)
						self:SetSetting("Level")
						self:SetExtremesColor(1)

						self:HookScript("OnValueChanged", function(self)
							local CndtGroup = self:GetParent()
							
							local conditionData = CndtGroup:GetConditionData()

							local value = self:GetValue()
							conditionData.formatter:SetFormattedText(CndtGroup.ValText, value)
						end)

						self:CScriptAdd("SettingTableRequested", function(requester)
							return self:GetParent():GetConditionSettings()
						end)

						self:CScriptAdd("SettingSaved", function(requester)
							TMW.IE:ScheduleIconSetup() --TODO: there needs to be a way for condition config to intelligently run a setup on a parent object using the current ConditionSet.
						end)
					</OnLoad>
				</Scripts>
			</Slider>
			
			
			
			<EditBox inherits="TellMeWhen_InputBoxTemplate" parentKey="EditBox" autoFocus="false">
				<Size x="302" y="15"/>
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.Type" relativePoint="BOTTOMLEFT" x="0" y="-9"/>
				</Anchors>
				<Scripts>
					<OnEditFocusLost>
						EditBox_ClearHighlight(self)
						TMW:CleanString(self)
						
						local CndtGroup = self:GetParent()
						CndtGroup:GetConditionSettings().Name = strtrim(self:GetText()) or ""
						CndtGroup:LoadAndDraw()
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
			<EditBox inherits="TellMeWhen_InputBoxTemplate" parentKey="EditBox2" autoFocus="false">
				<Size x="302" y="15"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.EditBox" relativePoint="RIGHT" x="13"/>
				</Anchors>
				<Scripts>
					<OnEditFocusLost>
						EditBox_ClearHighlight(self)
						TMW:CleanString(self)
						
						local CndtGroup = self:GetParent()
						CndtGroup:GetConditionSettings().Name2 = strtrim(self:GetText()) or ""
						CndtGroup:LoadAndDraw()
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
			<CheckButton inherits="TellMeWhen_CheckTemplate" parentKey="Check">
				<Size x="25" y="25"/>
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.EditBox" x="5" y="0"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self:SetFrameLevel(self:GetParent().EditBox:GetFrameLevel() + 1)
						self:GetNormalTexture():SetVertexColor(1, 0, 0, 1)
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						local CndtGroup = self:GetParent()
						CndtGroup:GetConditionSettings().Checked = not not self:GetChecked()
						CndtGroup:LoadAndDraw()
					</OnClick>
				</Scripts>
			</CheckButton>
			<CheckButton inherits="TellMeWhen_CheckTemplate" parentKey="Check2">
				<Size x="25" y="25"/>
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.EditBox2" x="5" y="0"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self:SetFrameLevel(self:GetParent().EditBox:GetFrameLevel() + 1)
						self:GetNormalTexture():SetVertexColor(1, 0, 0, 1)
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						local CndtGroup = self:GetParent()
						CndtGroup:GetConditionSettings().Checked2 = not not self:GetChecked()
						CndtGroup:LoadAndDraw()
					</OnClick>
				</Scripts>
			</CheckButton>

			<Frame parentKey="Runes" hidden="true">
				<Size x="1" y="1"/>
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.Type" relativePoint="TOPRIGHT" x="11" y="10"/>
				</Anchors>
				<Frames>
					<Button parentKey="rune1" inherits="TellMeWhen_ConditionEditorRuneCheckTemplate" id="1">
						<KeyValues>
							<KeyValue key="runeType" type="string" value="Blood"/>
							<KeyValue key="key" type="number" value="1"/>
							<KeyValue key="death" type="boolean" value="false"/>
						</KeyValues>
						<Anchors>
							<Anchor point="TOPLEFT"/>
						</Anchors>
					</Button>

		 			<Button parentKey="rune2" inherits="TellMeWhen_ConditionEditorRuneCheckTemplate" id="2">
						<KeyValues>
							<KeyValue key="runeType" type="string" value="Frost"/>
							<KeyValue key="key" type="number" value="3"/>
							<KeyValue key="death" type="boolean" value="false"/>
						</KeyValues>
						<Anchors>
							<Anchor point="LEFT" relativeKey="$parent.rune1" relativePoint="RIGHT" x="4"/>
						</Anchors>
					</Button>

					<Button parentKey="rune3" inherits="TellMeWhen_ConditionEditorRuneCheckTemplate" id="3">
						<KeyValues>
							<KeyValue key="runeType" type="string" value="Unholy"/>
							<KeyValue key="key" type="number" value="2"/>
							<KeyValue key="death" type="boolean" value="false"/>
						</KeyValues>
						<Anchors>
							<Anchor point="LEFT" relativeKey="$parent.rune2" relativePoint="RIGHT" x="4"/>
						</Anchors>
					</Button>


					<Button parentKey="rune4" inherits="TellMeWhen_ConditionEditorRuneCheckTemplate" id="4">
						<KeyValues>
							<KeyValue key="runeType" type="string" value="Blood"/>
							<KeyValue key="key" type="number" value="4"/>
							<KeyValue key="death" type="boolean" value="true"/>
						</KeyValues>
						<Anchors>
							<Anchor point="TOP" relativeKey="$parent.rune1" relativePoint="BOTTOM"/>
						</Anchors>
					</Button>
					<Button parentKey="rune5" inherits="TellMeWhen_ConditionEditorRuneCheckTemplate" id="5">
						<KeyValues>
							<KeyValue key="runeType" type="string" value="Frost"/>
							<KeyValue key="key" type="number" value="6"/>
							<KeyValue key="death" type="boolean" value="true"/>
						</KeyValues>
						<Anchors>
							<Anchor point="LEFT" relativeKey="$parent.rune4" relativePoint="RIGHT" x="4"/>
						</Anchors>
					</Button>
					<Button parentKey="rune6" inherits="TellMeWhen_ConditionEditorRuneCheckTemplate" id="6">
						<KeyValues>
							<KeyValue key="runeType" type="string" value="Unholy"/>
							<KeyValue key="key" type="number" value="5"/>
							<KeyValue key="death" type="boolean" value="true"/>
						</KeyValues>
						<Anchors>
							<Anchor point="LEFT" relativeKey="$parent.rune5" relativePoint="RIGHT" x="4"/>
						</Anchors>
					</Button>


				</Frames>
			</Frame>
			

			<Frame parentKey="BitFlags" inherits="TMW_DropDownMenuTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.Type" relativePoint="TOPRIGHT" x="15" y="0"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:CInit(self)

						self:SetFunction(TMW.CNDT.BitFlags_DropDown)

						self:SetScrollable(true)
						self:SetWidth(190)
					</OnLoad>
				</Scripts>
			</Frame>
			<CheckButton parentKey="BitFlagsCheck" inherits="TellMeWhen_CheckTemplate">
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.BitFlags" relativePoint="RIGHT" x="5" y="0"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self.text:SetText(TMW.L["CONDITIONPANEL_BITFLAGS_CHECK"])
						self.text:SetPoint("RIGHT", self:GetParent(), "RIGHT")
						self.text:SetHeight(self.text:GetHeight()*2 + 3)
						
						TMW:TT(self, "CONDITIONPANEL_BITFLAGS_CHECK", "CONDITIONPANEL_BITFLAGS_CHECK_DESC")
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						local CndtGroup = self:GetParent()
						CndtGroup:GetConditionSettings().Checked = not not self:GetChecked()
						CndtGroup:LoadAndDraw()
					</OnClick>
				</Scripts>
			</CheckButton>

			<Button parentKey="AndOr">
				<Size x="40" y="20"/>
				<Anchors>
					<Anchor point="BOTTOM" relativePoint="TOP" x="1" y="0"/>
				</Anchors>
				<Layers>
					<Layer level="ARTWORK">
						<FontString name="$parentText" parentKey="text" justifyH="CENTER" inherits="GameFontHighlight">
							<Anchors>
								<Anchor point="CENTER"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnLoad>
						local AND, OR = TMW.L["CONDITIONPANEL_AND"], TMW.L["CONDITIONPANEL_OR"]
						local GRAY = "|cff222222"
						local SLASH = "/"
						local WHITE = "|r"
						local AND_t = WHITE .. AND .. GRAY .. SLASH .. OR
						local OR_t = GRAY .. AND .. SLASH .. WHITE .. OR

						function self:SetValue(value)
							local text

							if value == "AND" then
								text = AND_t
							elseif value == "OR" then
								text = OR_t
							end

							self.text:SetText(text)
							self.value = value
							self:SetWidth(self.text:GetWidth())
						end
						function self:GetValue()
							return self.value
						end
						
						TMW:TT(self, "CONDITIONPANEL_ANDOR", "CONDITIONPANEL_ANDOR_DESC")
						self:SetValue("AND")
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						TMW.HELP:Hide("CNDT_ANDOR_FIRSTSEE")
						
						if self.value == "AND" then
							self:SetValue("OR")
						elseif self.value == "OR" then
							self:SetValue("AND")
						end
						
						local CndtGroup = self:GetParent()
						CndtGroup:GetConditionSettings().AndOr = self:GetValue()
						CndtGroup:LoadAndDraw()
					</OnClick>
				</Scripts>
			</Button>

			<Frame parentKey="OpenParenthesis">
				<KeyValues>
					<KeyValue key="parenType" type="string" value="("/>
					<KeyValue key="childPoint" type="string" value="LEFT"/>
					<KeyValue key="childRelativePoint" type="string" value="RIGHT"/>
					<KeyValue key="childXOffs" type="number" value="-8"/>
				</KeyValues>

				<Size x="100" y="20"/>
				<Anchors>
					<Anchor point="LEFT" relativePoint="RIGHT" relativeKey="$parent.AndOr" x="5" y="0"/>
				</Anchors>
				<Frames>
					<CheckButton inherits="TellMeWhen_ConditionEditorParenthesisTemplate" id="1">
						<Anchors>
							<Anchor point="LEFT"/>
						</Anchors>
					</CheckButton>
				</Frames>
			</Frame>
			<Frame parentKey="CloseParenthesis">
				<KeyValues>
					<KeyValue key="parenType" type="string" value=")"/>
					<KeyValue key="childPoint" type="string" value="RIGHT"/>
					<KeyValue key="childRelativePoint" type="string" value="LEFT"/>
					<KeyValue key="childXOffs" type="number" value="8"/>
				</KeyValues>

				<Size x="100" y="20"/>
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.AndOr" relativePoint="LEFT" x="-5" y="0"/>
					<Anchor point="TOP" relativePoint="BOTTOM" x="0" y="1"/>
				</Anchors>
				<Frames>
					<CheckButton inherits="TellMeWhen_ConditionEditorParenthesisTemplate" id="1">
						<Anchors>
							<Anchor point="RIGHT"/>
						</Anchors>
					</CheckButton>
				</Frames>
			</Frame>

			<Button parentKey="DeleteButton" inherits="TellMeWhen_DeleteButtonTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" x="1" y="-1"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:TT(self, "CONDITIONPANEL_REMOVE")
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						self:GetParent():DeleteHandler()
					</OnClick>
				</Scripts>
			</Button>

			<Button parentKey="Up">
				<Size x="18" y="18"/>
				<Anchors>
					<Anchor point="TOP" relativeKey="$parent.DeleteButton" relativePoint="BOTTOM" x="0" y="-7"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self:SetFrameLevel(self:GetParent():GetFrameLevel() + 2)
						TMW:TT(self, "METAPANEL_UP")
						self:SetScale(0.8)
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						self:GetParent():UpOrDown(-1)
					</OnClick>
				</Scripts>

				<NormalTexture urgency="5" file="Interface\AddOns\TellMeWhen\Textures\Arrow" >
					<TexCoords left="0" right="1" top="0" bottom="1"/>
					<Color r="1.0" g="0.92" b="0" a="0.7"/>
				</NormalTexture>
				<HighlightTexture urgency="5" file="Interface\AddOns\TellMeWhen\Textures\Arrow" alphaMode="ADD">
					<TexCoords left="0" right="1" top="0" bottom="1"/>
					<Color r="1" g="1" b="1" a="0.4"/>
				</HighlightTexture>
				<DisabledTexture urgency="5" file="Interface\AddOns\TellMeWhen\Textures\Arrow" >
					<TexCoords left="0" right="1" top="0" bottom="1"/>
					<Color r="0" g="0" b="0" a="0.35"/>
				</DisabledTexture>
			</Button>

			<Button parentKey="Down">
				<Size x="18" y="18"/>
				<Anchors>
					<Anchor point="TOP" relativeKey="$parent.Up" relativePoint="BOTTOM" y="-7"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						self:SetFrameLevel(self:GetParent():GetFrameLevel() + 2)
						TMW:TT(self, "METAPANEL_DOWN")
						self:SetScale(0.8)
					</OnLoad>
					<OnClick>
						PlaySound("igMainMenuOptionCheckBoxOn")

						self:GetParent():UpOrDown(1)
					</OnClick>
				</Scripts>

				<NormalTexture urgency="5" file="Interface\AddOns\TellMeWhen\Textures\Arrow" >
					<TexCoords left="0" right="1" top="1" bottom="0"/>
					<Color r="1.0" g="0.92" b="0" a="0.7"/>
				</NormalTexture>
				<HighlightTexture urgency="5" file="Interface\AddOns\TellMeWhen\Textures\Arrow" alphaMode="ADD">
					<TexCoords left="0" right="1" top="1" bottom="0"/>
					<Color r="1" g="1" b="1" a="0.4"/>
				</HighlightTexture>
				<DisabledTexture urgency="5" file="Interface\AddOns\TellMeWhen\Textures\Arrow" >
					<TexCoords left="0" right="1" top="1" bottom="0"/>
					<Color r="0" g="0" b="0" a="0.35"/>
				</DisabledTexture>
			</Button>

		</Frames>
		<Layers>
			<Layer level="OVERLAY">
				<FontString parentKey="TextType" inherits="GameFontNormalSmall" justifyH="CENTER">
					<Anchors>
						<Anchor point="BOTTOM" relativeKey="$parent.Type" relativePoint="TOP" y="2"/>
					</Anchors>
				</FontString>
				<FontString parentKey="TextUnit" inherits="GameFontNormalSmall" justifyH="CENTER">
					<Anchors>
						<Anchor point="BOTTOM" relativeKey="$parent.Unit" relativePoint="TOP" y="2"/>
					</Anchors>
				</FontString>
				<FontString parentKey="TextIcon" inherits="GameFontNormalSmall" justifyH="CENTER">
					<Anchors>
						<Anchor point="BOTTOM" relativeKey="$parent.Icon" relativePoint="TOP" y="2"/>
					</Anchors>
				</FontString>
				<FontString parentKey="TextOperator" inherits="GameFontNormalSmall" justifyH="CENTER">
					<Anchors>
						<Anchor point="BOTTOM" relativeKey="$parent.Operator" relativePoint="TOP" y="2"/>
					</Anchors>
				</FontString>
				<FontString parentKey="TextValue" inherits="GameFontNormalSmall" justifyH="CENTER">
					<Anchors>
						<Anchor point="BOTTOMLEFT" relativeKey="$parent.Operator" relativePoint="TOPRIGHT" x="9" y="2"/>
					</Anchors>
				</FontString>
				<FontString parentKey="ValText" inherits="GameFontNormalLarge" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.Operator" relativePoint="RIGHT" x="9" y="0"/>
					</Anchors>
				</FontString>
				<FontString parentKey="TextUnitDef" inherits="GameFontNormalLarge" justifyH="CENTER">
					<Anchors>
						<Anchor point="CENTER" relativeKey="$parent.Unit" y="-0"/>
					</Anchors>
				</FontString>
				<FontString parentKey="SliderMid" inherits="GameFontHighlightSmall">
					<Anchors>
						<Anchor point="TOP" relativeKey="$parent.Slider" relativePoint="BOTTOM" y="3"/>
					</Anchors>
				</FontString>

				<FontString parentKey="Deprecated" inherits="GameFontNormal" hidden="true">
					<Size x="400"/>
					<Anchors>
						<Anchor point="BOTTOMLEFT" x="30" y="3"/>
						<Anchor point="BOTTOMRIGHT" x="-30" y="3"/>
					</Anchors>
				</FontString>
				<FontString parentKey="Unknown" inherits="GameFontNormal" >
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.Type" relativePoint="RIGHT" x="12"/>
						<Anchor point="RIGHT" x="-5" />
						<Anchor point="TOP" y="-5"/>
						<Anchor point="BOTTOM" y="5"/>
					</Anchors>
				</FontString>

				<FontString parentKey="BitFlagsSelectedText" inherits="GameFontNormal" hidden="true" justifyH="LEFT" justifyV="TOP">
					<Size x="400" y="30"/>
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.Type" relativePoint="BOTTOMLEFT" x="0" y="-4"/>
						<Anchor point="BOTTOMRIGHT" x="-30" y="0"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	
	<Frame parentKey="Conditions" parent="TellMeWhen_IconEditorPages" inherits="TellMeWhen_IE_PageTemplate">
		<Frames>			
			<Frame parentKey="Groups" >
				<Anchors>
					<Anchor point="TOPLEFT" y="-4" x="-5"/>
					<Anchor point="BOTTOMRIGHT" y="0"/>
				</Anchors>
				<Scripts>
					<OnLoad>
						TMW:ConvertContainerToScrollFrame(self, false, -2)
						self.ScrollFrame:SetWheelStepAmount(40)
						
						TMW.CNDT:CreateGroups(1)
						TMW.CNDT[1].AndOr:Hide()
						TMW.CNDT[1].CloseParenthesis:Hide()
						TMW.CNDT[1]:SetPoint("TOPLEFT", 12, -16)
					</OnLoad>
				</Scripts>
				<Frames>
					<Button parentKey="AddCondition" inherits="TellMeWhen_FlatFrame">
						<Size y="30"/>
						<Layers>
							<Layer level="OVERLAY">
								<FontString parentKey="text" inherits="GameFontNormalSmall" justifyH="LEFT">
									<Anchors>
										<Anchor point="CENTER"/>
									</Anchors>
								</FontString>
								<Texture parentKey="Plus" file="Interface\PaperDollInfoFrame\Character-Plus">
									<Size x="20" y="20"/>
								</Texture>
								<Texture parentKey="Plus2" file="Interface\PaperDollInfoFrame\Character-Plus">
									<Size x="20" y="20"/>
								</Texture>
							</Layer>
						</Layers>
						<Scripts>
							<OnLoad>
								self.text:SetText(TMW.L["CONDITIONPANEL_ADD2"])
								TMW:TT(self, "CONDITIONPANEL_ADD")
								self.Plus:ClearAllPoints()
								self.Plus:SetPoint("RIGHT", self.text, "LEFT", -10, 0)
								self.Plus2:ClearAllPoints()
								self.Plus2:SetPoint("LEFT", self.text, "RIGHT", 10, 0)
							</OnLoad>
							<OnClick>
								PlaySound("igMainMenuOptionCheckBoxOn")
								
								TMW.CNDT:AddCondition(TMW.CNDT.settings)
								TMW.CNDT:LoadConfig()
								TMW.CNDT[TMW.CNDT.settings.n].Type.EditBox:SetFocus()
							</OnClick>
						</Scripts>
					</Button>
				</Frames>
			</Frame>

		</Frames>
	</Frame>

</Ui>